h1{
    text-align: center;
}

.box-table{
    width: 80%;
    padding: 10px;
    background: #a1c5c5 ;
    padding: 50px;
    border-radius: 4px;
    margin:0 auto;
    margin-top: 10px;
}
.tr-fil-1{
    background: rgba(255, 251, 0, 0.432);
    text-align: center;
}
.tr-fil-2{
    text-align: center;
}
.res{
    width: 100%;
    height: 30px;
    background: rgb(240, 236, 15);
    margin-top: 10px;
}
.img-prod{
    width: 60px;
    height: 60px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
/* p{
    margin-top: 300px;
} */